<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Creator:</strong>
  <ul>
    <%- @book.creator.each do |author|%>
      <li><%= author %></li>
    <%- end %>
  </ul>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Datecopyrighted:</strong>
  <%= @book.dateCopyrighted %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @book.abstract %>
</p>

<p>
  <strong>File Datastream:</strong>
  <% if not @book.mediaContent.content.nil? %>
    <%= link_to @book.mediaContent.content.args[:url], @book.mediaContent.content.args[:url] %>
  <% end %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
